<header id="header">
    <!-- <img class="logo" src="/assets/images/cap_logo_magentaR.png"> -->
    <svg routerLink="" id="logo" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 288.69 155.12">
    <defs>
      <style>
        .cls-1 {
          fill: #f0f;
        }

        .cls-1,
        .cls-2 {
          fill-rule: evenodd;
        }

        .cls-2 {
          fill: #fff;
        }

      </style>
    </defs>
    <title>cap_logo</title>
    <path class="cls-1" d="M188.33,186.49h10.95v10.77H188.33Z" transform="translate(-9.22 -73.97)" />
    <path class="cls-1" d="M204.6,186.49h11v10.77h-11Z" transform="translate(-9.22 -73.97)" />
    <path class="cls-1" d="M204.6,203.67h11v10.77h-11Z" transform="translate(-9.22 -73.97)" />
    <path class="cls-1" d="M188.33,203.67h10.95v10.77H188.33Z" transform="translate(-9.22 -73.97)" />
    <path id="R" class="cls-1"
      d="M160.93,147.44l27.4-26.93V103l52,1.34s18.62,2.46,17.81,24.24c0,0-.28,19.15-21.92,21.54l17.81,21.55S286.67,162,287,129.94c0,0,1.64-17.21-5.48-26.93,0,0-8.22-19.63-38.35-25.59H160.93Z"
      transform="translate(-9.22 -73.97)" />
    <path id="cA" class="cls-2"
      d="M265,225.53h32.87L196.54,119.16l-65.75,67.33S113.26,206.44,87,204s-35.62-11.82-41.1-24.24c0,0-6.72.84-8.22-36.35,0,0,15.2-67.56,87.67-29.62l20.55-16.16S112,53.76,44.49,85.5c0,0-42.33,28.58-34.24,82.14,0,0,6,51.46,63,60.59,0,0,57.53,8.37,80.82-26.93l43.83-44.44Z"
      transform="translate(-9.22 -73.97)" />
  </svg>

    <ul class="nav">
        <li><a mat-raised-button matTooltip={{tooltipcontent}} class="nav-link" routerLink="/contact">Contact Us</a></li>
        <li>
            <div class="dropdown">
                <button class="btn " type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <p>
                    <span matBadge="5" matBadgeOverlap="false">Projects</span>
                  </p>
            </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                    <button routerLink="/projects/chevella" class="dropdown-item" type="button">Mohinabad</button>
                    <button routerLink="/projects/kandi" class="dropdown-item" type="button">Kandi</button>
                    <button routerLink="/projects/araku" class="dropdown-item" type="button">Aaraku</button>
                    <button routerLink="/projects/bheemaram" class="dropdown-item" type="button">shadnagar</button>
                    <button routerLink="/projects/ssfarms" class="dropdown-item" type="button">SS Farms</button>
                </div>
            </div>
        </li>
        <li>
            <a class="nav-link" routerLink="">Home</a></li>
    </ul>


</header>