$dark:#31004a;
$light:#ff00ff;
#header {
    position: fixed;
    z-index: 100;
    width: 100vw;
    height: 100px;
    max-width: 1600px;
    margin: 0 auto;
    left: 0;
    right: 0;
    padding: 0 30px;
    #logo {
        position: relative;
        top: 30%;
        width: auto;
        height: 40%;
        margin: 20px;
    }
    .nav {
        display: inline;
        position: relative;
        top: 5vh;
    }
    li {
        display: inline;
        float: right;
    }
    a {
        color: white;
    }
    #nav-links {
        display: block;
        padding: 8px;
        color: $light;
    }
}