<div class="contact">
    <img id="bg" src="/assets/images/homebg.jpg" alt="">
    <div class="img-overlay"></div>
    <div class="contact-form">

        <h2>Contact us</h2>
        <form class="">
            <p>Name</p>
            <input id="name" type="text" value="" placeholder="Enter name...">
            <p>Email</p>
            <input id="email" type="text" value="" placeholder="Enter email...">
            <p>Phone Number</p>
            <input id="phone" type="number" value="" placeholder="Enter phone number...">
            <input id="submit" type="submit" value="Submit">
        </form>
        <br>
        <div id="conus">
            <p id="details"> Name : Geetha <br> Phone Number : 7661904609 <br> Email : admin@capstonereality.com
            </p>
        </div>
    </div>
</div>