$dark:#31004a;
$light:#ff00ff;
#main {
    top: 10vh;
    position: relative;
    max-width: 2000px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}