<header id="header"></header>
<main id="main">
  <section>
    <img src="/assets/images/homebg.jpg">
    <div class="img-overlay"></div>
    <div class="container-fluid limit">
      <div class="row">
        <div class="col-6 content">
          <h1>We bring you <span class="strikeit">good</span> best deals.</h1>
          <ul>
            <li>Residential</li>
            <li>Commercial</li>
            <li>Industrial</li>
            <li>Agriculture</li>
          </ul>

        </div>
      </div>
    </div>
  </section>
</main>
<footer id="footer"></footer>