$dark:#31004a;
$light:#ff00ff;
#main {
    position: relative;
    max-width: 2000px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#header {
    position: fixed;
    z-index: 100;
    width: 100vw;
    height: 100px;
    max-width: 2000px;
    padding: 0 30px;
    #logo {
        position: relative;
        top: 30%;
        width: auto;
        height: 40%;
        margin: 20px;
    }
    .nav {
        display: inline;
        position: relative;
        top: 5vh;
    }
    li {
        display: inline;
        float: right;
    }
    a {
        color: $light;
    }
    #nav-links {
        display: block;
        padding: 8px;
        color: $light;
    }
}

#footer {
    width: 100vw;
    max-width: 2000px;
}

section {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    max-width: 2000px;
    color: white;
    .tiles {
        position: absolute;
        right: 0;
        bottom: 0;
        img {
            height: 70vh;
            width: auto;
            pointer-events: none;
            clip-path: url(#myPath);
        }
        #cpath {
            pointer-events: none;
            position: relative;
        }
    }
    .content {
        position: relative;
        z-index: 5;
        h1 {
            color: white;
            font-size: 3rem;
            font-weight: 900;
        }
        .strikeit {
            opacity: 0.4;
            position: relative;
        }
        .dash {
            display: block;
            position: absolute;
            width: 100%;
            height: 10px;
            background-color: $light;
            opacity: 1;
            border-radius: 15px;
            left: 0;
            top: 49%;
        }
        ul {
            margin: 0;
            padding-left: 3px;
            margin-top: 15px;
            font-weight: bold;
            li {
                display: inline-block;
                margin-right: 8px;
                list-style-type: disc;
                &::before {
                    position: relative;
                    content: '\2600';
                    margin-right: 3px;
                }
            }
        }
    }
    button {
        border-radius: 30px;
        background-color: $dark;
        color: white;
        border: none;
        box-shadow: 10px;
        padding: 15px 24px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        margin-top: 32px;
    }
    img#bg {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        pointer-events: none;
        filter: blur(10px);
    }
    .img-overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: black;
        opacity: 0.8;
        pointer-events: none;
    }
    .trail {
        width: 100px;
        height: 100px;
        background-color: $light;
    }
}