<header id="header">
    <!-- <img class="logo" src="/assets/images/cap_logo_magentaR.png"> -->
    <svg id="logo" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 288.69 155.12">
    <defs>
      <style>
        .cls-1 {
          fill: #f0f;
        }

        .cls-1,
        .cls-2 {
          fill-rule: evenodd;
        }

        .cls-2 {
          fill: #fff;
        }

      </style>
    </defs>
    <title>cap_logo</title>
    <path class="cls-1" d="M188.33,186.49h10.95v10.77H188.33Z" transform="translate(-9.22 -73.97)" />
    <path class="cls-1" d="M204.6,186.49h11v10.77h-11Z" transform="translate(-9.22 -73.97)" />
    <path class="cls-1" d="M204.6,203.67h11v10.77h-11Z" transform="translate(-9.22 -73.97)" />
    <path class="cls-1" d="M188.33,203.67h10.95v10.77H188.33Z" transform="translate(-9.22 -73.97)" />
    <path id="R" class="cls-1"
      d="M160.93,147.44l27.4-26.93V103l52,1.34s18.62,2.46,17.81,24.24c0,0-.28,19.15-21.92,21.54l17.81,21.55S286.67,162,287,129.94c0,0,1.64-17.21-5.48-26.93,0,0-8.22-19.63-38.35-25.59H160.93Z"
      transform="translate(-9.22 -73.97)" />
    <path id="cA" class="cls-2"
      d="M265,225.53h32.87L196.54,119.16l-65.75,67.33S113.26,206.44,87,204s-35.62-11.82-41.1-24.24c0,0-6.72.84-8.22-36.35,0,0,15.2-67.56,87.67-29.62l20.55-16.16S112,53.76,44.49,85.5c0,0-42.33,28.58-34.24,82.14,0,0,6,51.46,63,60.59,0,0,57.53,8.37,80.82-26.93l43.83-44.44Z"
      transform="translate(-9.22 -73.97)" />
  </svg>

    <ul class="nav">
        <li><a href="#" class="nav-link">Contact Us</a></li>
        <li><a href="#" class="nav-link">Project</a></li>
        <li><a href="#" class="nav-link" style="color: #ff00ff">Home</a></li>
    </ul>

</header>

<main id="main">
    <section>
        <img id="bg" src="/assets/images/homebg.jpg">
        <div class="img-overlay"></div>
        <div class="container-fluid limit">
            <div class="row">
                <div class="col-6 content">
                    <h1>We bring you <span style="position: relative;display: none"><span class="strikeit">good</span><span class="dash"></span></span>best trustworthy deals.</h1>
                    <ul>
                        <li>Residential</li>
                        <li>Commercial</li>
                        <li>Industrial</li>
                        <li>Agriculture</li>
                    </ul>
                    <button>Go to Projects</button>
                </div>
                <div class="col-6">

                </div>
            </div>
        </div>
        <div class="tiles">
            <svg version="1.1" id="cpath" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 100 100" style="enable-background:new 0 0 100 100;" xml:space="preserve">
        <clipPath id="myPath"><path id="st0" d="M0,100V0h100C100,0,1.71-2.53,0,100z" /></clipPath>
      </svg>
            <img src="/assets/images/group.jpg" />
        </div>
    </section>
</main>
<footer id="footer"></footer>