<section class="project">
    <img id="bg" src="/assets/images/homebg.jpg">
    <div class="img-overlay"></div>
    <div class="view">
        <h1 id="title" *ngIf="project | async">{{(project | async).title}}</h1>
        <div class="box">
            <p id="content" *ngIf="project | async">{{(project | async).content[0]}}</p>
            <p id="content" *ngIf="project | async">{{(project | async).content[1]}}</p>
            <p id="content" *ngIf="project | async">{{(project | async).content[2]}}</p>
            <p id="content" *ngIf="project | async">{{(project | async).content[3]}}</p>
            <p id="content" *ngIf="project | async">{{(project | async).content[4]}}</p>
            <p id="content" *ngIf="project | async">{{(project | async).content[5]}}</p>
            <p id="content" *ngIf="project | async">{{(project | async).content[6]}}</p>
        </div>
        <h1 id="ami">Amenities</h1>
        <div class="amenities">

            <ul *ngIf="project | async">
                <li>{{(project | async).amenities[0]}}</li>
                <li>{{(project | async).amenities[1]}}</li>
                <li>{{(project | async).amenities[2]}}</li>
                <li>{{(project | async).amenities[3]}}</li>
                <li>{{(project | async).amenities[4]}}</li>
                <li>{{(project | async).amenities[5]}}</li>
                <li>{{(project | async).amenities[6]}}</li>
                <li>{{(project | async).amenities[7]}}</li>
                <li>{{(project | async).amenities[8]}}</li>
                <li>{{(project | async).amenities[9]}}</li>
                <li>{{(project | async).amenities[10]}}</li>
                <li>{{(project | async).amenities[11]}}</li>
                <li>{{(project | async).amenities[12]}}</li>
                <li>{{(project | async).amenities[13]}}</li>
                <li>{{(project | async).amenities[14]}}</li>
                <li>{{(project | async).amenities[15]}}</li>
            </ul>
        </div>

        <div class="gallerize-example">
            <p class="gal-container" gallerize>
                <ng-container *ngIf="(projectImages | async).length">
                    <img id="gallery" *ngFor="let projectImage of (projectImages | async)" [src]="projectImage.url" />
                </ng-container>
            </p>
        </div>
    </div>

</section>