<section class="project">
    <img id="bg" src="/assets/images/homebg.jpg">
    <div class="img-overlay"></div>
    <div class="view">
        <p id="title" *ngIf="project | async">{{(project | async).title}}</p>

        <div class="gallerize-example">
            <p class="gal-container" gallerize>
                <ng-container *ngIf="(projectImages | async).length">
                    <img *ngFor="let projectImage of (projectImages | async)" width="250px" height="250px" style="object-fit: cover; margin:5px" [src]="projectImage.url" />
                </ng-container>
            </p>
        </div>
    </div>

</section>