        @import "colors.scss";
        .project {
            position: relative;
            width: 100vw;
            height: 100vh;
            //display: flex;
            align-items: center;
            max-width: 2000px;
            color: white;
            #title {
                color: $f;
                text-align: center;
            }
            img#bg {
                position: absolute;
                width: 100%;
                height: 250vh;
                object-fit: cover;
                pointer-events: none;
                filter: blur(10px);
            }
            #pics {
                position: relative;
            }
            img#gallery {
                width: 250px;
                height: 250px;
                object-fit: cover;
                margin: 5px;
            }
            .img-overlay {
                position: absolute;
                width: 100%;
                height: 250vh;
                background-color: black;
                opacity: 0.8;
                pointer-events: none;
            }
            .view {
                width: 100%;
                justify-content: center;
                top: 10vh;
                position: relative;
                align-items: center;
                margin-left: 2vh;
            }
            #content {
                color: $f;
                text-align: center;
                width: 50%;
                height: 100%;
                margin: 0 0 0 25%;
            }
            .box {
                width: 100%;
                height: 100%;
                justify-content: center;
            }
            li {
                list-style: none;
            }
        }
        
        @media screen and (max-width:786px) {
            .project {
                position: relative;
                width: 100vw;
                height: 100vh;
                //display: flex;
                align-items: center;
                max-width: 2000px;
                color: white;
                img#bg {
                    position: absolute;
                    width: 100%;
                    height: 385vh;
                    object-fit: cover;
                    pointer-events: none;
                    filter: blur(10px);
                }
                .img-overlay {
                    position: absolute;
                    width: 100%;
                    height: 385vh;
                    background-color: black;
                    opacity: 0.8;
                    pointer-events: none;
                }
                .view {
                    top: 11vh;
                }
                .amenities,
                .box,
                #ami {
                    display: none;
                }
                img#gallery {
                    width: 150px;
                    height: 150px;
                }
            }
        }