<section>
    <img id="bg" src="/assets/images/homebg.jpg">
    <div class="img-overlay"></div>
    <div class="container-fluid limit">
        <div class="row">
            <div class="col-6 content">
                <h1>We bring you <span style="position: relative;display: none"><span class="strikeit">good</span><span class="dash"></span></span>best trustworthy deals.</h1>
                <ul>
                    <li>Residential</li>
                    <li>Commercial</li>
                    <li>Industrial</li>
                    <li>Agriculture</li>
                </ul>
                <button routerLink="/contact">Contact us</button>
            </div>
            <div class="col-6">

            </div>
        </div>
    </div>
    <!-- <div class="tiles">
        <svg version="1.1" id="cpath" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 100 100" style="enable-background:new 0 0 100 100;" xml:space="preserve">
    <clipPath id="myPath"><path id="st0" d="M0,100V0h100C100,0,1.71-2.53,0,100z" /></clipPath>
  </svg>
        <img src="/assets/images/group.jpg" />
    </div> -->
</section>